$fontBody: "Poppins", sans-serif;

$brand-blue: hsl(216, 100%, 60%);
$brand-title: hsl(236, 72%, 18%);
$brand-white: hsl(0, 0%, 98%);
$brand-red: hsl(350, 79%, 58%);
$brand-blue-light: hsl(217, 100%, 94%);
$brand-grey: hsl(217, 31%, 72%);
$brand-linear: hsl(216, 100%, 66%);
$overlay: rgba(4, 9, 17, 0.7);

$header-height: 9rem;
