#create-room {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: calc(100vh - $header-height);
  .container {
    display: flex;
    align-items: center;
    gap: 4rem;
    position: relative;
    .illustration {
      max-width: 56.6rem;

      position: relative;
      left: -10rem;
      top: -2rem;
    }
    .content {
      position: relative;
      top: -4rem;
      form {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }
    }
  }
}
