#room {
  .section {
    .content-form {
      form {
        width: 100%;
        height: 100%;
        border: 2px solid $brand-blue;
        border-radius: 0 0.8rem 0.8rem 0.8rem;
        padding: 1.6rem;
        textarea {
          width: 100%;
          height: 100%;
          resize: none;
          border: none;
          outline: none;
          font-family: $fontBody;
          background-color: transparent;
          &::placeholder {
            color: $brand-grey;
            font-family: $fontBody;
          }
        }
        .footer-form {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            display: inline-flex;
            align-items: center;
            gap: 0.6rem;
            color: $brand-grey;
          }
          .button {
            width: 9.8rem;
          }
        }
      }
    }
    .content-questions {
      .question {
        
    }
    }
  }
}
